<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <clear/>
                <!--initializeData 就是初始化参数-->
                <add name="console" type="Concurrency.FileTraceListener,Concurrency" initializeData="result.txt">
                    <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error,Information"/>-->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>